*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;
}

/* UTILITY */

.padding{
    padding: 65px 0 100px 0;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.conteiner{
    max-width: 100%;
    padding: 0 40px;
}

@media screen and (min-width:768px) {
    
    .conteiner{
        max-width: 100%;
        padding: 0 30px;
    }

}

@media screen and (min-width:993px) {
    
    .conteiner{
        max-width: 100%;
        padding: 0 100px;
    }

}

.conteinerFoot{
    max-width: 100%;
    padding: 0 40px;
}

@media screen and (min-width:768px) {
    
    .conteinerFoot{
        padding: 0 120px;
    }

}

@media screen and (min-width:993px) {
    
    .conteinerFoot{
        max-width: 700px;
        margin: auto;
    }

}

/* HEADER */

header{
    max-width: 100%;
    height: 100px;
    background-color: #0084fd;
}

nav{
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars{
    color: white;
}

.naviDesktop{
    display: none;
}

@media screen and (min-width:993px) {
    
    .navi{
        display: none;
    }

    .naviDesktop{
        display: block;
    }

}

/* MAIN */

/* section1 */

.gridSection1{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

.box{
    background-color: #b5ddff;
    border-radius: 30px;
    text-align: center;
    padding: 2.5rem 2rem;
}

.box > p{
    line-height: 1.7rem;
    color: #333333bb;
    font-weight: bold;
}


.boxInside{
    width: 100%;
    height: 50%;
    /* border: 1px solid black; */
    /* padding: 2.5rem 2rem; */
    text-align: start;
}

.gridSection1  h2{
    padding-bottom: 40px;
    color: #0084fd;
    font-size: 1.6rem;
}

.boxInside > p{
    line-height: 1.9rem;
    color: #333333bb;
    font-weight: bold;
    text-align: start;
}

.boxInside > img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.boxInside > button{
    width: 80%;
    background-color: #0084fd;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 0.8rem;
    margin-top: 40px;
    font-size: 1rem;
    font-weight: bold;
}

.fa-bullhorn , .fa-laptop-code, .fa-compass-drafting .fa-file-code{
    margin-right: 7px;
    font-size: 1.2rem;
}

.fa-solid{
    font-size: 5.5rem;
    color: #0084fd;
    padding-bottom: 30px;
}

/* .phone{
    display: none;
    background-image: url(./img/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
} */

@media screen and (min-width:768px) {
    
    .gridSection1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

    .First{
        grid-column: 1/3;
    }

    .gridSection1  h2{
        font-size: 1.4rem;
    }

    .boxInside > img{
        width: 80%;
        display: block;
    }
}

@media screen and (min-width:993px) {
    
    .gridSection1{
    grid-auto-rows: auto;
}

    .First{
        display: flex;
    }

    .boxInside{
    width: 50%;
    height: 100%;
    }

    .boxInside > img{
        width: 100%;
        display: block;
    }
}



/* section2 */

.purple{
    background-color: #9792e4;
}

.planning{
    width: 100%;
}

.planning > img{
    width: 100%;
}

.appDev > img{
    width: 100%;
}

.planning > h2{
    color: white;
    font-size: 2rem;
    padding: 70px 0 50px 0;
}

.planning > p{
    color: white;
    line-height: 1.9rem;
    padding-bottom: 40px;
}

.appDev{
    width: 100%;
    background-color: white;
    padding: 25px;
    border-radius: 65px;
}

.appDev > h3{
    text-align: center;
    font-size: 1.5rem;
    padding: 30px 0;
}

.appDev > p{
    font-style: italic;
    line-height: 1.9rem;
    text-align: center;
    font-size: 1.1rem;
}

/* .appDev > button{
    margin-left: 40%;
    margin-top: 35px;
    border-radius: 50%;
    padding: 1.8rem 2.2rem;
    background-color: #9792e4;
    border: none;
} */

@media screen and (min-width: 768px) {

    .planning > h2{
        font-size: 4rem;
    }

}

@media screen and (min-width: 993px) {

    .planning{
        width: 35%;
        margin: 0 10%;
    }
    
    .appDev{
        width: 35%;
    }

}

/* section3 */

.gridSection3{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

.box3{
    background-color: #9792e4;
    padding: 30px 0;
    text-align: center;
    border-radius: 65px;
}

.boxGrou{
    padding: 30px 0;
    text-align: center;
}

.box3 > p{
    color: white;
    font-size: 1.1rem;
    line-height: 1.9rem;
    margin-bottom: 30px;
}

.box3 > b{
    color: white;
    font-size: 1.4rem;
}

.boxGrou{
    text-align: center;
    background-color: white;
}

.boxGrou > h2{
    color: #9792e4;
    font-size: 2.5rem;
    padding: 45px 0;
}

.boxGrou > p{
    font-size: 1.1rem;
    line-height: 1.9rem;
    padding-bottom: 50px;
}

.testimonialsImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin: auto;
    margin-bottom: 30px;
}

.test1{
    background-image: url(./img/testimonial1.jpg);
}

.test2{
    background-image: url(./img/testimonial2.jpg);
}

.test3{
    background-image: url(./img/testimonial3.jpg);
}

.virgo{
    font-size: 3rem;
}

@media screen and (min-width: 768px) {

    .gridSection3{
        grid-auto-rows: auto;
    }
}

/* section4 */

.gridSection4{
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 30px;
}

.box4{
    background-color: white;
    padding: 35px;
    border-radius: 25px;
}

.box4 > b{
    font-size: 3.5rem;
    color: #9792e4;
}

.box4 > h3{
    font-size: 1.5rem;
    color: #9792e4;
    margin: 30px 0;
}

.box4 > p{
    font-size: 1.1rem;
    line-height: 1.9rem;
    color: grey;
}

.boxSpecial > h2{
    color: white;
    font-size: 2.5rem;
    text-align: center;
    margin: 50px 0;
}

.box4 > button{
    margin: 30px 0;
    width: 50%;
    padding: 0.8rem;
    font-size: 1rem;
    color: white;
    background-color: #9792e4;
    border-radius: 25px;
    border: none;
}

@media screen and (min-width: 768px) {

    .gridSection4{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 30px;
    }

    .boxSpecial{
        grid-column: 1/3;
    }

}

@media screen and (min-width: 993px) {

    .gridSection4{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        gap: 30px;
    }

    .boxSpecial{
        grid-column: 1/4;
    }

}

/* section5 */

.aboutUs , .aboutUsBig{
    width: 100%;
}

#about{
    padding: 60px 0 120px 0;
}

.aboutUsBig > h1{
    font-size: 3.8rem;
    color: #9792e4;
}

.aboutUsBig > p{
    line-height: 2.5rem;
    font-size: 1.1rem;
    padding-top: 60px;
}

.aboutImg{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(./img/about.jpg);
    margin: 40px 0;
}

.aboutUs > h2{
    color: #9792e4;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.5rem;
}

.aboutUs > button{
    margin: 30px 0 70px 0;
    width: 55%;
    font-size: 1rem;
    padding: 0.6rem;
    background-color: #9792e4;
    border: none;
    border-radius: 20px;
    color: white;
}

@media screen and (min-width: 768px) {

    .aboutUs{
        width: 40%;
    }

    .aboutUsBig{
        width: 60%;
    }
}

@media screen and (min-width: 993px) {

    .aboutUs{
        width: 30%;
    }

    .aboutUsBig{
        width: 70%;
    }
}

/* article */

article{
    background-color: #9792e4;
    padding: 60px 0;
}

.free{
    width: 100%;
    text-align: center;
}

.free > span{
    color: rgba(255, 255, 255, 0.699);
    font-size: 1.3rem;
}

.free > h2{
    color: white;
    font-size: 2rem;
    margin: 30px 0 50px 0;
}

.free > h1{
    color: gold;
    font-size: 4.5rem;
    padding-bottom: 50px;
}

.free > p{
    line-height: 2rem;
    color: white;
}

.free > button{
    margin: 35px 0;
    width: 80%;
    padding: 1.5rem;
    font-size: 1.5rem;
    color: #9792e4;
    border: none;
    border-radius: 40px;
}

/* footer */

footer{
    background-color: #333333;
    padding: 40px 0;
}

.foot{
    width: 100%;
    min-height: 230px;
    background-color: antiquewhite;
}