*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* UTILITY */

.flex{
    display: flex;
    flex-wrap: wrap;
}

.conteiner{
    max-width: 100%;
    padding: 0 40px;
}

@media screen and (min-width:768px) {
    
    .conteiner{
        max-width: 100%;
        padding: 0 30px;
    }

}

@media screen and (min-width:1920px) {
    
    .conteiner{
        max-width: 100%;
        padding: 0 390px;
    }

}

/* HEADER */

header{
    max-width: 100%;
    height: 98px;
    background-color: #0084fd;
}

nav{
    height: 98px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-bars{
    color: white;
}

.naviDesktop{
    display: none;
}

@media screen and (min-width:1920px) {
    
    .navi{
        display: none;
    }

    .naviDesktop{
        display: block;
    }

}

/* MAIN */


main{
    margin-top: 65px;
}

/* section1 */

.application{
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    margin-bottom: 100px;
}

.demo{
    width: 100%;
    min-height: 460px;
    background-color: #b5ddff;
    border: 1px solid black;
}

.big{
    min-height: 920px;
    display: flex;
    flex-wrap: wrap;
}

.demoInside{
    width: 100%;
    height: 460px;
    border: 1px solid black;
}

@media screen and (min-width:768px) {
    
    .application{
        justify-content: space-between;
        gap: 33px;
    }

    .demo{
        width: 30%;
    }

    .big{
        min-width: calc( 70% - 33px );
        display: flex;
    }

}

@media screen and (min-width:1920px) {
    
    .demoInside{
        width: 50%;
        height: 460px;
        border: 1px solid black;
    }

    .big{
        display: flex;
        flex-direction: row;
        min-height: 460px;
    }

}

/* section2 */

#purple{
    background-color: #9792e4;
    padding-bottom: 80px;
}

.planning{
    width: 100%;
    min-height: 900px;
    background-color: grey;
}

.appDev{
    width: 100%;
    min-height: 780px;
    background-color: white;
}

@media screen and (min-width: 1920px) {

    .planning{
        width: 50%;
        min-height: 900px;
        background-color: grey;
    }
    
    .appDev{
        width: 50%;
        min-height: 780px;
        background-color: white;
    }

}